*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
}

#navbar{
    padding:5px;
    background-color:black;
    position:sticky;
    top:0;
    z-index: 5;
}
#navbar ul{
    display:flex;
    align-items:center;
    justify-content:left;
}
#navbar li{
    list-style:none;
    margin-top:7px;
}
#navbar li a{
    text-decoration: none;
    padding: 31px;
    color: white;
    font-size: 25px
}
#navbar li a:hover{color:grey;

}
#logo{
    display:flex;
    color:white;
    align-items:center;
    margin:5px;
    font-size:31px;
    font-family: 'Times New Roman', Times, serif;
    
}
#logo img{
    height: 60px;
    /* filter: invert(1); */
    margin-bottom: 4px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(35,36,39);
}

.image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:25%;
    align-items: center;
    /* box-shadow:-5px -5px 15px rgb(255 255 255 / 10%); */
    justify-content: center;
}

.box1{

    background: #2a2b2f;
    border: 2px solid #1e1f23;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 50%);
    overflow: hidden;
    width: 95%;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 100%;
}


.image img{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 30px;
}

.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    /* box-shadow:-5px -5px 15px rgb(255 255 255 / 10%); */

}
.box2{

        background: #2a2b2f;
        border: 2px solid #1e1f23;
        box-shadow: 0px 20px 50px rgb(0 0 0 / 50%);
        overflow: hidden;
        width: 95%;
        margin-top: 22px;
        margin-bottom: 22px;
        height: 100%;
}


h2{
    padding: 10px;
}
#short{
    font-size: 20px;

}

.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    /* box-shadow:-5px -5px 15px rgb(255 255 255 / 10%); */
}

.box3{

    background: #2a2b2f;
    border: 2px solid #1e1f23;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 50%);
    overflow: hidden;
    width: 95%;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 100%;
}

#long{
    font-size: 20px;
}

.intro img{
    border: 2px solid black;
    width: 230px;
    height: 300px;
    margin: 30px;
}

.extras{    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    /* box-shadow:-5px -5px 15px rgb(255 255 255 / 10%); */

}

.box4{

    background: #2a2b2f;
    border: 2px solid #1e1f23;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 50%);
    overflow: hidden;
    width: 95%;
    margin-top: 22px;
    margin-bottom: 22px;
    height:100%;
}


#tech{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:2px solid black;
    align-items: center;
    justify-content: center;
}

#tech img{
    margin: 10px;
    padding: 10px;
    height:100px;
    width:100px;
}

#contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:2px solid black;
    align-items: center;
    justify-content: center;

}
#contacts img{
    margin: 10px;
    padding: 10px;
    height:100px;
    width:100px;
}