<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form-1">
    <h1>register System</h1>
    <form action="/register" method="post">
        Enter UserName:<input type="text" name="user"><br>
        Enter Email-Id:<input type="text" name="mail"><br>
        Enter Phone-Number:<input type="text" name="mob"><br>
        Enter Password:<input type="password" name="pass"><br>
        Re-Enter Password:<input type="password" name="rpass"><br>
        <input type="submit" value="signup">
        {{msg}}
    </form>
</div>
</body>
</html>